</div>
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        </head>

        <!-- Footer -->
        <footer class="mt-5 mb-1 text-body-secondary fixed-bottom text-center">
            <div
                style="background-color: #1e1e1e; padding: 10px; position: absolute; bottom: 0; left: 0; right: 0;">
                <span style="color: #d4a445;">&copy; Policia Nacional Civil de
                    Guatemala - 2023</span>
            </div>
        </footer>
        

    <body>
</html>
