<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Página con Imagen de Fondo</title>
  <style>
    /* Estilos generales para la página */
    html, body {
      height: 100%; /* Ajusta la altura al 100% */
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    body {
      background-image: url('src/static/img/pnc.jpg'); /* Cambia esto por la ruta a tu imagen */
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
</head>
<body>
  <!-- Contenido de tu página -->
  <h1>Mi Página con Imagen de Fondo</h1>
  <p>Bienvenido a mi página.</p>

  <!-- Agrega una imagen -->
 <p style="text-align:center;">
            <img src="/src/static/img/pnc.jpg"
                alt="Imagen de Usuario" width="4400" height="2475">
        </p>
</body>
</html>
