/* Estilos generales para el formulario */
html,
body {
  height: 100%;
  background-color: #1e1e1e; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  margin: 0;
  padding: 0;
}

h4 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #d4a445;
  text-align: center;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #d46445;
  text-align: center;
}
